@model EventManager.Models.Usuario

@{
    ViewData["Title"] = "Editar usuario";
}






<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                @if (TempData["MensagemSucesso"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["MensagemSucesso"]
                    </div>
                }
                @if (TempData["MensagemError"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["MensagemError"]
                    </div>
                }
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Editar Conta
                    </h5>
                    <form asp-action="Edit">
                        <div class="mb-3">
                            <label asp-for="Nome" class="form-label">Nome</label>
                            <input asp-for="Nome" type="text" class="form-control" id="nome" required>
                            <span asp-validation-for="Nome" class="text-danger"></span>


                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">

                            <label asp-for="SenhaHash" class="form-label">Senha</label>
                            <input type="password" asp-for="SenhaHash" class="form-control" id="senha" required>
                            <span asp-validation-for="SenhaHash" class="text-danger"></span>

                        </div>

                                <label>

                                    <input type="Checkbox" onclick="togglePasswordVisibility()">Mostrar senha
                                    <i class="bi bi-eye"></i>
                                </label>

                       

                            <div>
                                <button type="submit" class="btn btn-primary">Salvar Alteração</button>
                            </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
                            <div>
                                <a asp-controller="usuarios" asp-action="details" >Voltar para Perfil</a>
                            </div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
                function togglePasswordVisibility() {
          const passwordInput = document.getElementById('senha');
          const passwordType = passwordInput.getAttribute('type');

          if (passwordType === 'password') {
            passwordInput.setAttribute('type', 'text');
          } else {
            passwordInput.setAttribute('type', 'password'); 1
          }
        }

    </script>
}


